/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .director-photo {
        grid-template-columns: repeat(3, 1fr);
    }

    .logo img {
        padding-top: 20px;
    }

    .header-slogan {
        display: block !important;
    }

    .video-area img {
        height: 50vh !important;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {

    .director-photo {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo img {
        padding: 20px 0;
    }

    .single-about h4 {
        margin: 10px 0;
    }

    .single-about {
        margin-bottom: 20px;
    }

    .video-area {
        height: auto !important;
    }

    .header-slogan {
        display: block !important;

    }

    .header-slogan h1 {
        font-size: 30px !important;
    }

    .video-area img {
        height: 60vh !important;
    }

    .header-top .container {
        gap: 10px;
    }



}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}