/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
   
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .director-photo {
        grid-template-columns: repeat(3, 1fr);
    }

    .logo img {
        padding-top: 20px;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {

    .director-photo {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo img {
        padding: 20px 0;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}