/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

body {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li,
a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

:root {
    --transition: all .3s ease-in-out;
}

.header_search_modal input:focus {
    box-shadow: none !important;
    border: transparent;
}

.header_search_modal form {
    border: 1px solid #ddd;
    padding: 6px;
    padding-right: 10px;
    border-radius: 10px;
}

.header_search_modal input {
    border: transparent;
}

.header-area {
    z-index: 9;
}

.navbar ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    transition: var(--transition);
    padding: 20px 5px;
    display: block;
}

.navbar ul li:hover>a {
    color: red;
}

.header-area .navbar ul li .sub-navbar li:hover>a {
    color: red !important;
}

.sub-navbar {
    background: #fff;
    width: 150px;
    position: absolute;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

ul.sub-navbar li {
    margin-right: 10px;
}

.header-area .navbar ul li:hover>.sub-navbar {
    opacity: 1;
    visibility: visible;
}

.sub-navbar li a {
    color: #000000a3 !important;
    padding: 8px !important;
    display: block;
    font-weight: 600;
}

.child-navbar {
    position: absolute;
    background: #fff;
    left: 100%;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    width: 150px;
    padding-right: 10px;
}

.header-area .navbar ul li:hover>.child-navbar {
    opacity: 1;
    visibility: visible;
}

ul.last-navbar {
    position: absolute;
    left: 100%;
    background: #fff;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    width: 150px;
    top: 0;
}

.child-navbar li:hover ul.last-navbar {
    opacity: 1;
    visibility: visible;
}

ul.end-navbar {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.last-navbar li:hover>.end-navbar {
    opacity: 1;
    visibility: visible;
}

/* video start */
.video-area {
    position: relative;
    z-index: 2;
}

.header-slogan {
    display: flex;
    align-items: end;
}

.video-area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000085;
}

section.video-area h6 {
    font-size: 30px;
    padding: 0 0 0 5px;
    color: #fff;
}

section.video-area h1 {
    font-size: 80px;
    padding: 0;
    color: #fff;
}

section.video-area h3 {
    font-size: 40px;
    color: #fff;
}

section.video-area small {
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 0 0 5px;
}

.swiper__slider .swiper-slide {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    transition: var(--transition);
}

.swiper__slider .swiper-slide:hover {
    background-color: #E54343;
}

.swiper__slider .swiper-slide a {
    color: #fff;
}

.swiper__slider .swiper-slide a h2 {
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}

.swiper__slider .swiper-slide a small {
    font-weight: 400;
}

/* video end */

/* about start */
.section-heading {
    max-width: 700px;
    margin: auto;
}

.section-heading h2::after {
    position: absolute;
    content: '';
    background: #000;
    top: 100%;
    left: 0;
    width: 30px;
    height: 1px;
    right: 0;
    margin: auto;
}

.section-heading h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.single-about h4 {
    text-transform: capitalize;
    font-size: 21px;
    margin: 25px auto 13px;
    font-weight: 400;
    color: #454545;
}

.single-about i {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #404040;
    color: #404040;
    border-radius: 100%;
    font-size: 30px;
    line-height: 100px;
    position: relative;
}

.single-about p {
    color: #9f9f9f;
    font-size: 13px;
    line-height: 1.65em;
}

.single-about:hover i {
    background-color: #404040;
    color: white;
}

.single-about i::after {
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    border: 1px solid #222;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.single-about:hover i::after {
    opacity: 1;
}

/* about end */

/* service start */

.service-area {
    z-index: 2;
    background-image: url(../images/service.jpg);
    background-size: cover;
    background-position: center;
}

.service-area h2 {
    font-weight: 700;
    font-size: 35px;
}

.service-area::after {
    position: absolute;
    content: '';
    left: 0;
    z-index: -1;
    top: 0;
    background: #22222282;
    width: 100%;
    height: 100%;
}

.service-area .section-heading h2::after {
    background: #fff;
}

.single-service i {
    font-size: 30px;
}

.single-service h4 {
    color: #000;
    font-weight: 500;
}

.single-service p {
    color: #222;
    font-weight: 400;
    margin-top: 10px;
}

.single-service {
    transition: var(--transition);
}

.single-service:hover {
    margin-top: -2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* service end */

/* director start */
.director-photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 30px;
}

/* director end */

/* footer start */
.single-footer h3 {
    color: #d0d0d0;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.single-footer p {
    font-size: 14px;
    margin-top: 25px;
    color: #8a8a8a;
    line-height: 1.6;
}

/* footer end */

/* scrollUp */
#scrollUp {
    background: #7DBA2F;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}

#scrollUp:hover {
    background: #444;
}

/* Default styles */
.offcanvas-body {
    padding: 15px;
    background: #fff;
}

.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile_menu ul li {
    position: relative;
}

.mobile_menu ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.submenu,
.childmenu,
.lastmenu {
    display: none;
    list-style: none;
    padding-left: 15px;
}

.submenu,
.childmenu,
.lastmenu {
    position: relative;
    background: #f8f8f8;
    min-width: 180px;
    border: 1px solid #ddd;
}

.submenu.open,
.childmenu.open,
.lastmenu.open {
    display: block;
}

.mobile_menu ul li.has-submenu>a::after {
    content: "▼";
    font-size: 14px;
    margin-left: 10px;
}

.mobile_menu ul li.has-submenu>a.open::after {
    content: "▲";
}

.mobile_menu ul li a {
    text-transform: capitalize;
}

.mobile_menu ul li a.open {
    background: black;
    color: white;
}